@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  line-height: 1.15;
  scroll-behavior: smooth;
  -webkit-text-size-adjust: 100%;
}
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}
input, button, textarea, select, optgroup {
  font: inherit;
}
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}
p {
  line-height: 1.4;
}
button, select {
  text-transform: none;
}


/* Custom code starts =================== */
body {
  -webkit-font-smoothing: antialiased;
  height: 100vh;
  background-color: rgb(242, 242, 242);
  color: black;
  font-family: 'Roboto', sans-serif;
}
header {
  width: 100%;
  background-color: white;
  color: black;
  padding: .25rem .5rem;
  box-shadow: 0 3px 3px rgba(0, 0, 0, .1);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header img {
  width: 35%;
}
header ul {
  list-style: none;
  display: flex;
}
header li {
  margin-right: .5rem;
}
header li:first-child {
  margin-right: 1rem;
}
header li a {
  font-size: 1.375rem;
  font-weight: 400;
  color: white;
  text-decoration: none;
  transition: all 160ms ease-out;
  padding: .5rem .75rem;
  border-radius: 7px;
}
header li i {
  translate: 0 1px;
}
header li:first-child a {
  background-color: red;
}
header li:first-child a:hover {
  background-color: rgb(225, 0, 0);
}
header li:last-child a {
  background-color: rgb(48, 158, 195);
}
header li:last-child a:hover {
  background-color: rgb(38, 134, 166);
}
header li:hover a {
  scale: .95;
}


footer {
  background-color: rgb(230, 230, 230);
  padding: 1.5rem 3rem 4rem;
  margin-top: 6rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
footer h3 {
  padding-bottom: .25rem;
  font-size: 1.75rem;
}
footer ul {
  list-style-type: none;
}
footer li {
  margin-block: 1rem;
  margin-left: -.25rem;
  width: fit-content;
  transition: all .2s ease-out;
}
footer li:hover {
  scale: .97;
}
footer li a {
  padding: .375rem .75rem;
  text-decoration: none;
  color: black;
  font-size: 1.25rem;
  transition: all .2s;
  font-weight: 400;
}
footer ul:last-child li a {
  padding: .375rem .75rem .375rem .625rem;
}
footer li a:hover {
  color: white;
  background-color: black;
  border-radius: 5px;
}
footer li i {
  padding-right: .5rem;
  font-size: 1.125em;
  translate: 0 2px;
}
footer li i:first-child {
  translate: 0 1px;
}


@media screen and (max-width: 1160px) {
  header img {
    width: 42%;
  }
  header li a {
    margin-right: .5rem;
    font-size: 1.25rem;
  }
}


@media screen and (max-width: 840px) {
  header img {
    width: 48%;
  }
  header li a {
    font-size: 1.125rem;
  }
  header li {
    margin-right: 0;
  }
  header li:first-child {
    margin-right: .5rem;
  }

  footer {
    grid-template-columns: repeat(2, 1fr);
  }
  footer div:last-child {
    margin-top: 2rem;
  }
}


@media screen and (max-width: 580px) {
  header img {
    width: 55%;
  }
  header li a {
    padding: .25rem .5rem;
    border-radius: 5px;
    font-size: 1.75rem;
    margin-block: .25rem;
  }
  header li span {
    display: none;
  }

  footer {
    grid-template-columns: repeat(1, 1fr);
    padding: 1.5rem 2rem 3rem;
  }
  footer div {
    margin-top: 2rem;
  }
  footer li {
    margin-block: .625rem;
    margin-left: 0;
    padding-block: .25rem;
  }
}

@media screen and (max-width: 500px) {
  header img {
    width: 62%;
  }
  header li a {
    padding: .25rem .5rem;
    font-size: 1.75rem;
  }

  footer {
    margin-top: 3rem;
    padding: 1rem 1.5rem 2rem;
  }
  footer li a {
    font-size: 1.125rem;
  }
}

@media screen and (max-width: 400px) {
  header {
    padding-inline: 0;
  }
  header img {
    width: 68%;
  }
  header li a {
    padding: .25rem .5rem;
    font-size: 1.5rem;
  }
  header li:last-child a {
    margin-right: .5rem;
  }
  footer h3 {
    padding-bottom: 0;
  }

  footer {
    margin-top: 3rem;
    padding: 0 1.25rem 2rem;
  }
  footer li {
    padding: .25rem;
    margin-block: .5rem;
    margin-left: -.25rem;
  }
  footer div:last-child ul li:last-child {
    margin-block: .75rem;
  }
}