.home-link {
  margin-left: 30px;
  font-size: 1.125rem;
  padding-block: .75rem;
}
.home-link a {
  color: black;
  font-weight: 500;
  text-decoration: none;
  padding-inline: .125rem;
}
.home-link a:hover {
  text-decoration: underline;
}
.home-link a:last-child {
  color: rgb(65, 65, 65);
  font-size: 17px;
}

main {
  width: 85%;
  max-width: 1200px;
  margin-inline: auto;
  background-color: white;
  padding: 1rem;
  border-radius: 8px;
  border: 1px solid darkgrey;
}
section, article {
  width: 100%;
  border-radius: 10px;
  margin-bottom: 2rem;
}
section .top {
  display: flex;
  width: 100%;
  margin-bottom: 1rem;
  border-bottom: 1px solid black;
  padding-bottom: .5rem;
}
section .top img {
  width: 120px;
  height: 120px;
  border-radius: 10px;
}
section .top .info {
  padding: .5rem;
}
section .top h1 {
  font-weight: 500;
  font-size: 2.25rem;
}
section .top p {
  padding-left: .375rem;
  color: rgb(94, 94, 94);
}

section .main {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  padding: 0 2rem 1rem 1rem;
}
section .main div {
  width: 100%;
  display: flex;
  padding: .5rem 1rem;
}
section .main div:nth-child(2n) {
  background-color: rgb(233, 233, 233);
}
section .main div p:first-child {
  font-weight: 500;
  font-size: 1.25rem;
  width: 400px;
}
section .main div p:last-child {
  font-size: 1.125rem;
  word-break: break-all;
}
section .main div a {
  text-decoration: none;
  color: black;
}
section .main div a:hover {
  text-decoration: underline;
}

section .mod-info {
  padding-inline: 1.5rem;
}
section .mod-info h3 {
  font-weight: 500;
  font-size: 1.5rem;
  border-bottom: 2px solid darkgray;
}
section .mod-info ul {
  list-style-type: decimal;
  padding: .5rem 1rem;
}
section .mod-info li {
  font-size: 1.125rem;
  padding-block: .375rem;
}

section > a, article > a {
  display: block;
  width: 100%;
  color: white;
  text-decoration: none;
  text-align: center;
  padding-block: .625rem;
  border-radius: 6px;
  font-size: 1.375rem;
  margin: .25rem 0 .75rem 0;
  background-color: black;
  transition: all .2s ease-out;
}
section > a:hover, article > a:hover {
  scale: .98;
}

article {
  margin-bottom: .5rem;
}
article h2 {
  font-size: 2.5rem;
  font-weight: 500;
  padding-block: .5rem;
}
article h3 {
  font-size: 2.25rem;
  font-weight: 500;
  padding-block: .5rem;
}
article p {
  padding-bottom: .5rem;
  font-size: 1.125rem;
}
article img {
  width: 95%;
  padding-bottom: 1rem;
  margin-inline: auto;
}
article .tall-image {
  width: 50%;
  margin-inline: auto;
}


@media screen and (max-width: 1100px) {
  .home-link {
    margin-left: 20px;
  }
  main {
    width: 90%;
    max-width: 1000px;
  }
  section .top img {
    width: 140px;
  }
  section .top p {
    padding-left: .375rem;
    color: rgb(94, 94, 94);
  }
  section .main {
    padding: 0 1rem 1rem .75rem;
  }
  section .main div p:first-child {
    width: 400px;
  }
}


@media screen and (max-width: 900px) {
  main {
    width: 95%;
    max-width: 800px;
  }
  section .top img {
    width: 140px;
  }
  section .top h1 {
    font-size: 2rem;
  }
  section .main div p:first-child {
    width: 300px;
  }
}

@media screen and (max-width: 680px) {
  main {
    width: 95%;
    max-width: 600px;
  }
  section .top img {
    width: 140px;
  }
  section .top h1 {
    font-size: 1.75rem;
  }
  section .main div p:first-child {
    width: 250px;
  }
}

@media screen and (max-width: 580px) {
  main {
    width: 100%;
    border-radius: 0px;
  }
  .home-link {
    margin-left: 8px;
  }
  section .top img {
    width: 140px;
  }
  section .top .info {
    padding: 0 .5rem;
  }
  section .top h1 {
    font-size: 1.75rem;
  }
  section .top p {
    padding-left: 0;
  }
  section .main div p:first-child {
    width: 200px;
  }
  section .main {
    padding: 0 .5rem 1rem .5rem;
  }
  section .main div {
    padding: .375rem .5rem;
  }
}


@media screen and (max-width: 400px) {
  main {
    padding: .5rem;
  }
  .home-link {
    padding-block: .5rem;
  }
  .home-link a {
    font-size: 1rem;
  }
  .home-link a:last-child {
    font-size: .875rem;
  }
  section .top .info span {
    display: none;
  }
  section .top {
    margin-bottom: .5rem;
  }
  section .top img {
    width: 130px;
    height: 130px;
  }
  section .top h1 {
    font-size: 1.5rem;
  }
  section .main div p:first-child {
    width: 160px;
  }
  section .mod-info {
    padding-inline: .5rem;
  }
  section .mod-info li {
    padding-block: .25rem;
  }
  section .main {
    padding: 0 .25rem 1rem;
  }
  section .main div {
    padding: 0.5rem;
  }
  section .main div p:last-child {
    font-size: 1rem;
  }
  section .main div p:first-child {
    font-size: 1rem;
  }
  article h2 {
    font-size: 2rem;
  }
  article h3 {
    font-size: 1.75rem;
  }
  section > a, article > a {
    font-size: 1.125rem;
  }
  section > a span, article > a span {
    font-size: 1rem;
  }
}